#t {
    padding-left: 450px;
}

.t2 {
    padding-top: 70px;
    margin-left: -890px;
}

#s {
    margin-top: -40px;
    padding-left: 250px;
}

.derecho {
    padding-left: 50px;
    padding-right: 400px;
}

.izquierdo {
    margin-top: -260px;
    padding-left: 750px;
    margin-right: -200px;
}